.header{
    border-bottom: 1px solid #E2E8F0;
    background-color: #FFF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    padding: 0px 16px;
}

.profile-name {
    background-color: #e2e2e2;
    width: 32px;
    height: 32px;
    padding: 6px 4px 5px 4px;
    border-radius: 100%;
    border: 1px solid #115586;
    text-align: center;
    margin-right: 4px;
}